ul li {
	list-style-Type: circle;
	padding: 0 0 4px 23px;
}

*{
	background-color: burlywood;
}

/* descripcion 
ss
s

s
*/
.prueba{
	background: url('../img/cyber-city.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
}

.par{
	
}

#prueba2{
	color: blue;
}

.div1{
	height: 200px;
	background: blue;
}

div .div2{
	height: 100px;
	background: red;
}

.p1 {
	font-weight: bold;
	font-family: 'Climate Crisis';
	font-style: oblique;
	font-size: 16px;
}

.p1:hover{
	color: blue;
	font-size: 32px;
}




a:link { color: red; }          /* Enlaces no visitados */
a:visited { color: purple; }     /* Enlaces visitados */
a:hover { background: yellow; }  /* El usuario esta sobre el enlace */
a:active { color: lime; }        /* Enlaces activos */

.red-input:focus {
  background: yellow;
  color: red;
}

.blue-input:focus {
  background: yellow;
  color: blue;
}